.book
  cursor pointer
  width 200px
  height 50px

.book__image
  width: 200px
  height: 300px

.book__edit-image
  display flex
  flex-direction column

.edit-book-container
  display flex
  flex-direction column
  margin-bottom 20px

.edit-book-error
  border-color red


