<form class="edit-book-container" [formGroup]="bookFormGroup">
  <label>
    Имя
    <input
      [formControl]="bookControls.name"
      [class.edit-book-error]="bookControls.name.invalid && bookControls.name.touched"
    />
  </label>

  <label class="book__edit-image">
    Обложка
    <input
      type="file"
      [multiple]="false"
      [disabled]="!isEdit"
      accept="image/png, image/gif, image/jpeg"
      (change)="onUpLoadAvatar($event.target.files)"
    />
    <img
      class="book__image"
      *ngIf="bookControls.image.value"
      [src]="'data:image/png;base64,' + bookControls.image.value"
    />
  </label>
  <label>
    Описание
    <input
      [formControl]="bookControls.title"
      [class.edit-book-error]="bookControls.title.invalid && bookControls.title.touched"
    />
  </label>
  <label>
    Автор
    <input
      [formControl]="bookControls.author"
      [class.edit-book-error]="bookControls.author.invalid && bookControls.author.touched"
    />
  </label>
  <label>
    Издательство
    <input
      [formControl]="bookControls.publisher"
      [class.edit-book-error]="bookControls.publisher.invalid && bookControls.publisher.touched"
    />
  </label>
  <label>
    Код ISBN
    <input
      [formControl]="bookControls.isbn"
      [class.edit-book-error]="bookControls.isbn.invalid && bookControls.isbn.touched"
    />
  </label>
  <label>
    Год издания
    <input
      [formControl]="bookControls.date"
      [class.edit-book-error]="bookControls.date.invalid && bookControls.date.touched"
    />
  </label>
  <label>
    Количество страниц
    <input
      type="number"
      [formControl]="bookControls.pages"
      [class.edit-book-error]="bookControls.pages.invalid && bookControls.pages.touched"
    />
  </label>
  <label>
    Рейтинг
    <input
      type="number"
      [formControl]="bookControls.rating"
      [class.edit-book-error]="bookControls.rating.invalid && bookControls.rating.touched"
    />
  </label>
  <label>
    Отзывы
    <input
      [formControl]="bookControls.feedback"
      [class.edit-book-error]="bookControls.feedback.invalid && bookControls.feedback.touched"
    />
  </label>

  <label>
    Личные заметки
    <input
      [formControl]="bookControls.note"
      [class.edit-book-error]="bookControls.note.invalid && bookControls.note.touched"
    />
  </label>
</form>
