<app-edit-book-form
  [book]="book$ | async"
  [isEdit]="isEdit"
  [events$]="events$.asObservable()"
  (bookFormChange)="onBookChange($event)"
></app-edit-book-form>
<button class="main-button main-button--plus" *ngIf="!isEdit" (click)="edit()">Редактировать</button>
<button class="main-button main-button--plus" *ngIf="isEdit" (click)="save()">Сохранить</button>
